asgiref
libsass 

django
djangorestframework
django-extensions
djangorestframework-simplejwt
django-filter
channels
redis
channels-redis
websockets
websocket-client   
daphne
pytz
mypy
requests       
drf-yasg    
gunicorn
python-dotenv
sqlparse
mysqlclient
argon2-cffi
pydantic
pandas
django-countries